@use '../abstracts' as *;

.contact {
    padding: 80px 0;
    position: relative;
}

.contact-inner {
    width: 100%;
    padding: 30px 15px;
    background-image: url('../images/contact-bg.png');
    background-size: cover;
    background-position: center center;
    border-radius: $round;
    overflow: hidden;
    box-shadow: $shadow;

    @include responsive( map-get( $breakpoints, mobiles ) ) {
        padding: 50px 40px;
    }
}

.contact-row {
    max-width: 350px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    svg {
        position: relative;
        top: 3px;
    }
}

address {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8;
    color: $white;
    margin-left: auto;
    width: calc(100% - 46px);
    max-width: 300px;
}

address a {
    display: block;

    &:hover, &:focus, &:active {
        color: $yellow;
        text-decoration: underline;
    }
}

.blob-contact {
    display: none;

    @include responsive( map-get( $breakpoints, laptops ) ) {
        position: absolute;
        z-index: -1;
        display: block;
        top: 0;
        left: -25px;
    }
}